{% extends './base.html' %}



{% load widget_tweaks %}

{% block content %}

<div class="container mt-2">
    <h4 style="color:darkorange" class="text-center pt-5"> WELCOME TO PRIME AFRICA TECHNOLOGIES DASHBOARD FOR STUDENT'S
        PAYMENT</h4>




    <div class="row">
        <div class="col-md-6">


            <div class="container pt-5">
                <!-- <h5 class="mt-2">DIRECTOR OF PRIME AFRICA TECHNOLOGIES</h5> -->
                <div class="row">



                    <!-- <div class="col-md-7">

                        <img src="../Prime.jpg" alt="" style="width: 390px; height: 470px"
                            class='img-fluid rounded' data-aos="fade-up" />
                    </div> -->
                    <div class="col-md-5" data-aos="fade-up">

                        <div class='bg-red text-center'></div>
                        <div class="pt-3" data-aos="fade-up">
                            <p>Contact us when you find it difficult to deposit.

                                <br></br><span class='text-danger1' style="font-Weight: bold;">Reach us on:
                                    +2349095212351, WhatsApp: +2349095212351</span>
                            </p>

                        </div>
                    </div>

                </div>
            </div>





        </div>




        <div class="col-md-6">

            <form action="." method="POST">
                {% csrf_token %}



                <div class="container pt-5">
                    <!-- <h5 class="mt-2">ADD YOUR SUPPORT HERE "No amount is small"</h5> -->
                    <!-- <h6>Please ensure to enter the exact <span
                        style="border-radius: 5px; background-color: black; color:#88ff00; font-size: 15px;">
                        <em>Course Price</em></span>  specified in the last page (Registration Page) for your chosen Course to avoid loss of your fund and Wrong Registration!</h6> -->
                    <div class="d-flex mt-3">

                        <div class="mb-3">
                            <div class="me-1">
                                <label style="font-size: 20px; " for="">Full Name</label>
                                <div>{% render_field payment_form.name style="border-color: darkorange; border-radius: 4px; height: 35px; " class="form-control" %}
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label style="font-size: 20px;" for=""> Your Course Name</label>
                            <!-- <div>{% render_field payment_form.course_name  style="border-color: darkorange;" class="form-control" %}
                            </div> -->
                            <div>
                                <select id="course" name='course_name' value={% render_field payment_form.course_name
                                    style="border-color: darkorange;  border-radius: 4px; width: 200px; height: 35px;"
                                    class="form-control" onChange="handleChange()" %}>
                                    <option value="">Choose Course Option</option>
                                    <option type="radio" value="Front-end Development">Front-end Development: - 85500</option>
                                    <option value="Back-end Development">Back-end Development: - 112500</option>
                                    <option value="Full Stack Development">Full Stack Development (i.e for the both
                                        course options above): - 187500</option>

                                    <option type="radio" value="Academic Writing">Academic Writing: - 37500</option>
                                    <option value="Data Analysis">Data Analysis: - 80000</option>
                                    <option value="Computer Literacy">Computer Literacy: - 37500</option>
                                   

                                </select>
                            </div>
                            </div>
                    </div>
                     <p id="amount" onChange="handleChange1()"></p>

                    <div class="d-flex mt-2">
                        <div class="me-1">
                            <label style="font-size: 20px;" for="">Course Price </label>
                            <div>
    &#8358;<input id="pp" type="number" onChange="handleChange1()" value={% render_field payment_form.amount style="border-color: darkorange; border-radius: 4px; width: 140px; height: 35px"class="form-control" %}  </div>

                                <!-- <input id="pp" type="number" onChange="handleChange1()" value=""/>  -->

                            </div>


                            <div class="mb-3">
                                <label style="font-size: 20px;" for="">Email</label>
                                <div>{% render_field payment_form.email style="border-color: darkorange; border-radius:4px; width: 150px; height: 35px;" class="form-control" %}
                                </div>
                            </div>
                        </div>

                        


                        <div class="d-flex">
                            <div class="me-1">
                                <label style="font-size: 20px;" for="">Your Address</label>
                                <div> {% render_field payment_form.creditors_address style="border-color: darkorange;border-radius: 4px; height: 35px;" class="form-control"%} </div>
                            </div>


                            <div class="mb-3">
                                <label style="font-size: 20px;" for="">Phone Number</label>
                                <div> {% render_field payment_form.phone style="border-color: darkorange; border-radius:4px; height: 35px;" class="form-control" %}
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label style="font-size: 20px;" for="">Send us a short
                                message(Optional)</label>
                            <div> {% render_field payment_form.message style="border-color: darkorange; border-radius: 5px; height: 80px; width: 300px;" class="form-control" %}
                            </div>
                        </div>


                        <!-- <div class="mt-2">
                        <label style="font-size: 20px;" for="">Leave Us a short Message(Optional)</label>
                        <div id="" style="width: 350px;" cols="35" rows="4" placeholder="(Optional)"> 
                            {% render_field payment_form.message class="form-control" %}</div>

                    </div>  -->



                        <input class="btn btn-danger " style="border-radius: 4px;" type="submit" value="Proceed to Payment &#8594;">

                        <br></br> <br></br><br></br>

                    </div>


            </form>


        </div>


        <div class="text-center">

            <a href="https://primeafricatechnologies.com.ng/" class="btn btn-danger"><i
                    class="fa fa-arrow-left ms-3 me-3"></i>Back to Home</a>
        </div>

    </div>
    <br></br>

    <style>
        .btn-danger {
            background-color: darkorange !important;

        }

        h6 {
            color: red;
        }

        .btn-danger:hover {
            color: blue !important;
        }
    </style>





<script>
    function handleChange() {


        const selectElement = document.getElementById('course');
        const price = document.getElementById('amount').style.color = "red";


        const selectOption = selectElement.options[selectElement.selectedIndex].text;


        if (selectOption) {
            // alert(`Course price: ${selectOption.split(' - ')[1]} `);

            amount.innerText = `Actual course price selected: ${selectOption.split(' - ')[1]}
   Please enter actual course price below`;

            //             alert("Course price: " + String.fromCharCode(8358)+ `${selectOption.split(' - ')[1]} `);

            //             amount.innerText = "Selected course price: "  
            //             + String.fromCharCode(8358)+ `${selectOption.split(' - ')[1]}
            //    Please enter selected course price below`;

        }




        //  else{
        //     price.innerText = 'noo';
        //  }



    }


    function handleChange1() {
        var price1 = document.getElementById('amount');
        var pay = document.getElementById('pp').value;
        const selectElement = document.getElementById('course');
        const selectOption = selectElement.options[selectElement.selectedIndex].text;

        if (selectOption.split(' - ')[1] == pay) {

            alert("Good! Full course price completed. Press OK to continue");
        }
        if (selectOption.split(' - ')[1] != pay) {
            alert("Sorry, you did not enter the actual course price, please select your course first and complete full payment to procceed..!");
            window.location.reload();

        }

    }


   


</script>





</div>

{% endblock content %}
